@charset "utf-8";
/* CSS Document */
h1{
	font: small-caps bold 24px/30px Georgia, serif;
	color: maroon;
}

h2{
	font:italic bold 20px/24px Georgia, serif;
	color: blue;
}

p.metin{
	font: 18px Georgia, serif;
	color:#333;
}

body{
	background-color:#FFC;
	font-family:Verdana, Geneva, sans-serif;
	color:#222;
}


